@font-face {
    font-family: 'SourceSerif';
    src: url('./SourceSerif.ttf') format('truetype');
  }

html {
    scroll-behavior: smooth;
    font-family: "SourceSerif", sans-serif;
}

.dropdown-container {
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    background-color: lightGray;
}

.menu {
    cursor: pointer;
    width: 2.5rem;
    padding: 0.5rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: lightGray;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropdown-menu.visible {
    display: block;
    transform-origin: top;
    animation: expand 500ms ease-in-out;
}

@keyframes expand {
    0% {
      transform: scaleY(0);
    }
    70% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
}

.dropdown-menu li {
    text-align: center;
    cursor: pointer;
    padding: 2rem;
    text-decoration: none;
}

.dropdown-menu li a {
    text-decoration: none;
    color: inherit;
}

.dropdown-menu li:hover {
    opacity: 0.5;
}


.headerMe, .footerMe {
    max-width: 70vw;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background: linear-gradient(170deg, rgb(48, 78, 117) 70%, white 30%);
    font-size: 1.5rem;
}

.image-container {
    position: relative;
    display: inline-block;
}

.name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.bio {
    text-align: center;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.socials img {
    width: 2rem;
}

main {
    padding: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    font-size: 1.5rem;
}

.projContainer {
    border: 1px solid lightgray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    transition: transform .3s ease-in-out;
}

.projContainer:hover {
    transform: scale(1.05);
  }

.projImage {
    width: 100%;
    height: 15rem;
}

.firstLine {
    display: flex;               
    justify-content: space-between; 
    align-items: center;               
}

.projLinks {
    display: flex;             
    gap: 0.5rem;                    
}

.projLinks img {
    width: 1.5rem;
}

.projImage {
    width:100%;
    height:15rem;
    object-fit:cover;
}

.contactContainer {
    gap: 10rem;
}

.contacts img {
    width: 1.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35, 163, 202);
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    gap: 2rem;
    margin-top: 5rem;
    
}

.emailLine, .phoneLine {
    display: flex;
    gap: 1rem;
}

.socials {
    text-align: center;
}


@media (min-width: 600px) and (max-width: 999px) {
    header, footer {
        padding: 2rem;
        font-size: 1.5rem;
    }

    footer {
        flex-direction: row;
        align-items: center;
    }

    .headerMe, .footerMe {
        max-width: 50vw;
    }

    .image-container {
        transform: translateX(-35%);
    }

    .name {
        top: 0;
        transform: translateX(70%);
        background-color: transparent;
        text-align: right;
    }

    .bio {
        transform: translate(25%, -30%);
        max-width: 50vw;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1.5rem;
        gap: 2rem;
    }
}

@media (min-width: 1000px) {
    .dropdown-container {
        position: relative;
        display: block;
    }
    
    .dropdown-menu {
        display: flex;
        justify-content: right;
        position: static;
        gap: 1rem;
        width: 100%
    }
    
    .menu {
        display: none;
    }

    header, footer {
        flex-direction: row;
        align-items: center;
        padding: 2rem;
        font-size: 1.5rem;
    }

    .headerMe, .footerMe {
        max-width: 50vw;
    }

    header {
        background-color: lightblue;
    }

    .socials {
        text-align: right;
    }

    .socials img {
        width: 3rem;
    }
    
    .projects {  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    footer {
        gap: 2rem;
        background-color: rgb(35, 163, 202);
    }

    footer > .contactContainer > .socials {
        text-align: left;
    }

}
